[package]
name = "kuvpn-win-helper"
version.workspace = true
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
interprocess = { version = "2", features = [] }
