name: Linux aarch64 Build
on:
  workflow_dispatch:
  push:
    tags:
      - v*
  pull_request:
    branches: ["main"]
env:
  CARGO_TERM_COLOR: always
  BUILD_TARGET: aarch64-unknown-linux-musl
  BINARY_NAME: kuvpn-aarch64-unknown-linux-musl
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build for aarch64
      uses: houseabsolute/actions-rust-cross@v0
      with:
        target: aarch64-unknown-linux-musl
        args: "--release -p kuvpn-cli"
    
    - name: Upload
      uses: actions/upload-artifact@v4.3.1
      with:
        name: kuvpn-aarch64-unknown-linux-musl
        path: |
          ./target/aarch64-unknown-linux-musl/release/kuvpn-cli